<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ACTIVITY Prediction</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <style>
        .container{
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background: #f0e68c
        }
        .hy{
            text-align:center;
        }
    </style>
<body>
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <p class='hy'>The data was predicted as</p>
        <h1 class='hy'>{{transaction}}</h1>
        <br><a class="ui teal button" href="/">Go Back</a>
    </div>

</body>
</html>